@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: "Nexa Rust Sans Black";
	src: url (../Downloads/My_Fontspring_Fonts/Webfonts/nexarustsans);
}
header {
	font-size: 2.3em;
	font-weight: bold;
	color: #72a9ae;
	background-color: white;
	width: 100%;
	height: 110px;
	font-family: Nexa Rust Sans Black;
	overflow: hidden;
}
#Title{
	padding-top: 30px; 	
	padding-left: 30px;
}
.nav-bar  {
	background: #72a9ae;
	height: 45px;
	overflow: hidden;
	height: auto;
}
li {
	float: left;
	font-size: 1em;
	padding:10px;
	margin: 20px;
	padding-left: 10px;
}
body {
	background: url(../img/background.png);
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
h2, h3 {
	color: #72a9ae; 
}
 .main-text{
 	width: 100%;
 	box-sizing: border-box;
 	padding-left: 40px;
 	padding-top: 20px;
 	overflow: hidden;
	height: auto;
 }
 .main-content {
 	width: 60%;
 	display: inline-block;
	box-sizing: border-box;
	overflow: hidden;
	height: auto;
 }
 figure {
 	width: 35%;
	float: right;
	box-sizing: border-box;
 }
.table-section { 
	width: 100%;
	height: 290px;
	padding-left: 30px;
	overflow: hidden;
	height: auto;
	padding-top: 30px;
 }
 h2 {
 	font-size: 1.5em;
 }
 h3 {
 	font-size: 1.2em;
 }
table, th, td {
  	border: 1px solid black;
  	text-align: center;
			}
table {
  	border-collapse: collapse;
  	width: 88%;
  	padding-top: 20px;
		}
td, th {
	padding: 5px;
	}
th {
	color: #73a8b0;
	background: #FFFFFF;
}
tr:nth-of-type(1) {
	background: #efefef;
}
tr:nth-of-type(3 ) {
	background: #efefef;
}
.form-section {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;	
	padding-left: 40px;
	padding-top: 30px;
	height: auto;
}
.profile-form {
	width: auto;
	overflow: hidden;
	line-height: 3em;
	display: inline-block;
	float: left;
}
.profile-form label {
	font-weight: bold;
	width: 100px;
	display: inline-block;
}
.profile-form input {
	display: inline-block;
	width: 250px;
	border: 1px solid black;
	font-size: 1em;
}
.profile-section {
	float: right;
	box-sizing: border-box;
	text-align: left;
	width: auto;
	height: auto;
	overflow: visible;
	line-height: 1.5em;
	display: inline-block;
	margin-right: 15%;
	margin-bottom: 50px;
}
.fa-user-circle {
	width: 100px;
}
.profile-box {
	background-color: white;
	text-align: center;
	height: auto;
	width: 300px;
	margin-top: 20px;
	box-shadow: 5px 5px 20px 5px grey;
	padding-top: 15px;
	padding-bottom: 10px;
}
 footer {
 	background-color: #454545;
 	width: 100%;
 	height: 255px;
 	padding-top:10px;
 	overflow: hidden;
 	text-align: center;
 }
 .footer div {
 	width: 33%;
	box-sizing: border-box;
	float: left;
	color: white;
	display: inline;
	line-height: 1.5em;
}
h4 {
	font-size: 1.5em;
}
a {
	display: inline-block;
}
 .fa-envelope {
 	color:#72a9ae;
 }
 .fa-facebook-square {
 	color: #3b5999;
 }
 .fa-youtube-square {
 	color: #cd201f;
}
.fa-twitter-square{ 
	color: #55acee;
	}
 .clearfix {
}
overflow: auto;
}
.clearfix:after {
	content: " ";
	clear: both;
}